@import url("./animation.css");

body {
  overflow-x: hidden;
  padding: 1.5em;
  background-color: white;
}

.header__container {
  margin: 5em 0 0 30svw;
  display: flex;
  flex-direction: column;
}

.header__container__title {
  width: auto;
  padding: 1.5em;

  background-color: rgb(0, 0, 0);
  animation: move-to-left 1s;
}

#main-title {
  color: white;
  font-size: 2.5rem;
}

#main-title__subtitle {
  color: rgb(172, 172, 172);
  font-size: 1.5rem;
}

.nav__list {
  margin: 1em 0 0 0.5em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;

  list-style: none;
  animation: show-after 1.65s;
}

.nav__list__anchor {
  padding: 0.4em;

  border: 2px solid black;
  color: black;
  text-decoration: none;
}

.nav__list__anchor:hover {
  background-color: #e5e5f7;
  transition: 0.3s;
}

.about-sec {
  height: 80svh;
}

.about-sec__container {
  height: 70%;
  margin: 30svh 15svw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.about-sec__container__txt {
  width: 38%;
  text-wrap: wrap;
  text-align: left;
}
.about-sec__container__divider {
  height: auto;
  border: solid black 1px;
}

.about-sec__container__txt > h2 {
  font-weight: 700;
  font-size: 2.3rem;
}

.about-sec__container__txt > p {
  font-size: 1.5rem;
}

.about-sec__container__img {
  height: 100%;
  width: 40%;
}

.graduate-sec {
  height: 78svh;
}

.graduate-sec > h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.graduate-sec__container {
  height: 75%;
  margin: 4svh 15svw;
  padding: 0.8em;
  border: 2px solid black;
}

.graduate-sec__container__ul {
  height: 62%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graduate-sec__container__ul__li--divider {
  height: 30%;
  border: solid 1px black;
}

.graduate-sec__container__ul__li {
  width: 75%;
  height: 18%;
  padding: 1.5em;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 2px;

  border: 2px solid black;
  text-align: left;
}

.graduate-sec__container__ul__li > h4 {
  font-weight: 700;
  font-size: 1.3rem;
}

.portfolio-sec {
  height: 30svh;
}

.portfolio-sec > h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.portfolio-sec__outter-container {
  padding: 2em 0;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#000000 1px, transparent 1px),
    linear-gradient(to right, #000000 1px, #e5e5f7 1px);
  background-size: 20px 20px;
  border: 2px solid black;
}
.portfolio-sec__container {
  width: 40%;
  margin: auto;
}

.portfolio-sec__ul {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.portfolio-sec__ul__li {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 25%;
  height: 15svh;
  border: solid 2px black;
  background-color: white;
}

.portfolio-sec__ul__li > h4 {
  font-weight: 700;
  font-size: 1.2rem;
}

.portfolio-sec__ul__li > a {
  color: black;
}
.contact-sec {
  height: 50svh;
}

.contact-sec__form-container {
  margin: 1em auto;
  background-color: #fff;
  padding: 30px;
  border: 2px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Título */
.contact-sec__form__title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.contact-sec__form__group {
  margin-bottom: 15px;
}

.contact-sec__form__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.contact-sec__form__input,
.contact-sec__form__textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.contact-sec__form__textarea {
  resize: none;
  height: 100px;
}

.contact-sec__form__button {
  width: 100%;
  padding: 10px;
  color: #000000;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.contact-sec__form__button:hover {
  background-color: #7c7c7c;
}
